{% extends './base.html' %}  

{% load static %}
 
{% block titulo %}AGA - INICIO{% endblock titulo %}

{% block contenido %}
    
    <div class="height-100 bg-light">
        <h4 style="color: black; text-align: center;">INICIO</h4>
        <br><br>
        <h3 style="color: black; text-align: center;"> REPORTES <br><br>

            <ul class="list-group">
                <li class="list-group-item">INGRESOS AÑO: {{ ingAÑO }}</li>
                <li class="list-group-item">INGRESOS MES: {{ ingMES }}</li>
                <li class="list-group-item">INGRESOS DÍA: {{ ingDIA }}</li>
                <li class="list-group-item">INGRESOS VEHICULOS AÑO: {{ ingVAÑO }}</li>
            </ul>
        </h3>
</body>
<script>
    
</script>
{% endblock contenido %}